<ion-content class="home-content">

  <!-- Floating teddies -->
  <div class="teddies">
    <span class="teddy"
          *ngFor="let teddy of teddies"
          [ngStyle]="{'left.%': teddy.left, 'animation-duration.s': teddy.duration}">
      🧸
    </span>
  </div>

  <div class="home-layout">
    
    <!-- LEFT SIDE: Image -->
    <div class="left-side">
      <img src="/assets/rose.jpg" class="bg-image" />
    </div>

    <!-- RIGHT SIDE: Buttons -->
    <div class="right-side">
     

      <ion-button class="glass-btn" (click)="spawnTeddy()">
        Surprise
      </ion-button>

      <ion-button class="glass-btn" (click)="openModal()">
        Open Valentine Surprise 💖
      </ion-button>
      
     
      <div class="footer-text">
        Designed and Developed by Aks
      </div>

    </div>

    

  </div>


  
</ion-content>
